<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.abhi.fabkutbusiness">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.abhi.fabkutbusiness.app.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- _________________________________Tag_Main_________________________________ -->

        <activity android:name="com.abhi.fabkutbusiness.main.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>


        <activity
            android:name=".main.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".main.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".main.NavigationMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />


        <!-- _________________________________Tag_Booking_________________________________ -->


        <activity
            android:name=".booking.view.BookNowActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".booking.view.EditBookingServiceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".booking.view.SelectServiceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <!-- _________________________________Tag_Billing_________________________________ -->

        <activity
            android:name=".billing.view.BillNowActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".billing.view.BillDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".billing.view.AddBillingServiceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".billing.view.PaymentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <!-- _________________________________Tag_Customer_________________________________ -->

        <activity
            android:name=".customer.view.AddCustomerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />


        <!-- _________________________________Tag_Accounting_________________________________ -->

        <activity
            android:name=".accounting.view.AccountingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".billing.view.InvoiceActivity"
            android:screenOrientation="portrait" />


    </application>

</manifest>